---
import Layout from '../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import { Masonry } from 'astro-masonry';

export async function getStaticPaths() {
  const allNotes = await getCollection('notes');
  const topics = [...new Set(allNotes.map(note => note.id.split('/')[0]))];
  return topics.map(topic => ({ params: { topic } }));
}

const { topic } = Astro.params;
const notes = (await getCollection('notes')).filter(note => note.id.startsWith(topic));

const renderedNotes = await Promise.all(notes.map(async note => {
  const slug = note.id.split('/')[1];
  const { Content } = await render(note);
  return {
    slug,
    title: note.data.title,
    Content,
  }
}));
---

<style is:global>
  .astro-masonry-grid {
    display: flex;
    margin: 0;
    gap: 0.5rem;
  }
</style>

<style>
  .note-card {
    display: block;
    border-radius: 10px;
    padding: 0.25rem;
    border: 1px solid #ccc;
  }

  .note-card-content {
    margin: 0.7rem;
  }

  .note-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    display: block;
    margin: 0;
    margin-top: 0.5rem;
    color: #0a0c10;
    text-decoration: none;
    text-align: center;
  }

  .note-card-title:hover::after {
    content: '⇗';
    margin-left: 0.1rem;
    color: #1055ff;
  }

  .note-card-separator {
    color: #ccc;
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
</style>

<Layout title={`${topic} - Material de estudio`}>
  <Masonry
    breakpointCols={{
      default: 3,
      700: 2,
      500: 1,
    }}
    sortByHeight={true}
  >
    {renderedNotes.map(({ slug, title, Content }) => (
      <div class="note-card">
        <a href={`${import.meta.env.BASE_URL}/${topic}/${slug}`} class="note-card-title">{title}</a>
        <hr class="note-card-separator">
        <div class="note-card-content">
          <Content />
        </div>
      </div>
    ))}
  </Masonry>
</Layout>
